.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.name {
  color: var(--neutral-07100, #141718);
  font-feature-settings: "clig" off, "liga" off;
  /* Body 2 (Semi) */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.price {
  color: var(--Black-900, #121212);
  font-feature-settings: "clig" off, "liga" off;
  /* Caption 1 (Semi) */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}
