.body {
  display: flex;
  min-width: 320px; /* ตั้งขนาดต่ำสุดที่เท่าไหร่ก็ตามที่คุณต้องการ */
  max-width: 1920px; /*ตั้งขนาดสูงสุด*/
  padding: 16px 100px;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.logo {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: bold;
  font-weight: 600;
  line-height: 24px; /* 100% */
}

ul {
  list-style: none;
}

li {
  color: var(--neutral-07100, #141718);
  font-feature-settings: "clig" off, "liga" off;
  /* Button/XSmall */
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
